<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <!--meta http-equiv="X-UA-Compatible" content="IE=edge"-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Pochopedia - Die Online-Notendatenbank für Posaunenchöre">
    <meta name="author" content="Christoph Finkensiep <chfin@freenet.de>">
    <link rel="search" href="/opensearch.xml" 
          type="application/opensearchdescription+xml" 
          title="Pochopedia">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="icon" type="image/png" href="/static/favicon.png">

    <title>Pochopedia</title>
    
    <!-- Foundation -->
    <link rel="stylesheet" href="/static/foundation/css/normalize.css">
    <link rel="stylesheet" href="/static/css/foundation.css">
    <script src="/static/foundation/js/vendor/modernizr.js"></script>

    <link href="/static/css/linux-libertine-s.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">

  </head>
  <body class="lit-background" role="document">

    <!-- inspired by http://getbootstrap.com/examples/cover/ -->

    <div class="site-wrapper">
      <div class="site-wrapper-inner">

        <div class="search-container">
          <h1 class="logo">PochopediA</h1>
          <form class="form-horizontal" action="/search" method="GET">
            <div class="form-group">
              <label for="q" class="hide">Suchbegriff</label>
              <input type="text" class="form-control liturgical" id="q" name="q"
                     placeholder="Suche">
            </div>
          </form>
        </div>

      </div>
    </div><!-- site-wrapper -->

    <script src="/static/foundation/js/vendor/jquery.js"></script>
    <script src="/static/foundation/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
