{# template file: person #}

{% extends "main.tmpl" %}

{% block content %}
<h1 class="page-header">{{ name }}</h1>
<p>
  ({% if death %}{{ birth }} - {{ death }}{% else %}* {{ birth }}{% endif %})
</p>
{% if wikipedia %}
<p>
  <a href="{{ wikipedia }}">Wikipedia</a>
</p>
{% endif %}
<section>
  {{ description }}
</section>
{% if pieces %}
<section>
  <h1>Stücke</h1>
  <ul>
    {% for piece in pieces %}
    <li>{{ piece }}</li>
    {% endfor %}
  </ul>
</section>
{% endif %}
{% endblock %}